BASE_URL=http://localhost:3000
NEXT_PUBLIC_LOCALE=fr-FR
NEXT_PUBLIC_MINUTES_BEFORE_STALE=60
NEXT_PUBLIC_TIMEOUT_BETWEEN_QUERIES=3000

DATABASE_URL=postgresql://{user}:{password}@localhost:5432/{database}

# Generate hash easily: openssl rand -base64 32
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=email@example.com

# Cloudinary credentials
CLOUD_NAME=
API_KEY=
API_SECRET=

# Quirrel credentials
QUIRREL_API_URL=https://quirrel-aks-watcher.fly.dev # your Quirrel instance's public URL
# curl --user ignored:{pase_quirrel_PASSPHRASE_here} -X PUT https://quirrel-aks-watcher.fly.dev/tokens/aks-watcher
QUIRREL_TOKEN=paste_quirrel_token_here # your Quirrel token previously generated
QUIRREL_BASE_URL=https://aks-watcher.fly.dev # your app's URL